@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Preahvihear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../Img/background.svg);
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 500vh;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #361f54;
  border: 1px solid #361f54;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #fff;
}

/* Existing styles for #scrollbar2 */
#scrollbar2::-webkit-scrollbar {
  width: 12px;
}

#scrollbar2::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#scrollbar2::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}
ul li {
  list-style-type: none;
}

header {
  width: 100%;
  background: #1a0b2e;
  padding: 10px 20px;
  box-shadow: 0px 6px 22px -3px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.header .nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

/* Logo Styling */
.header .logo img {
  max-width: 120px;
}

/* Menu Styling */
.header .nav .list {
  display: flex;
  align-items: center;
}

.header .nav .list ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .nav .list ul li a {
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.4px;
  text-decoration: none;
}

/* Menu Toggle (Visible on Mobile) */
.menu-toggle {
  display: none;
}

/* Container Styling */
.container {
  width: 60%;
  margin: 0 auto;
}

.memoji img {
  width: 100%;
  background: #11071f;
  box-shadow: 0px 6px 22px -3px rgba(0, 0, 0, 0.1);
}
/* =====memoji===== */

/* About */
.About {
  margin-top: 55px;
}
.About p:first-child {
  color: #fff;
  font-family: Preahvihear;
  font-size: 40px;
}
.About p {
  color: #fff;
  font-family: Preahvihear;
  font-size: 21px;
  letter-spacing: 0.42px;
}
.About span {
  color: #1877f2;
  font-family: Preahvihear;
  font-size: 21px;
  letter-spacing: 0.42px;
  margin-left: 5px;
}
.About img {
  width: 20px; /* Adjust size as needed */
  height: auto;
  vertical-align: middle; /* Aligns image with text */
  margin-left: 5px;
}
.About .about-me p {
  margin-top: 80px;
  color: #fff;
  font-family: Preahvihear;
  font-size: 20px;
  letter-spacing: 0.44px;
}
/* About - End*/

/* experience */
.experience {
  margin-top: 80px;
  padding: 20px;
}
.experience p:first-child {
  color: #fff;
  font-family: Preahvihear;
  font-size: 40px;
  letter-spacing: 0.8px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 10px;
  padding: 15px;
  flex: 1 1 calc(50% - 20px);
  min-width: 300px;
  max-width: 400px;
  border-radius: 15px;
  background: linear-gradient(
    110deg,
    #130428 19.95%,
    #251043 67.64%,
    #38126d 107.08%,
    #261045 156.61%,
    #190634 183.21%
  );
  box-shadow: 4px 7px 26px 0px rgba(0, 0, 0, 0.12);
}

.card img:nth-child(1) {
  width: 100%;
  height: auto;
}
.text-part {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 100%;
  }
}

.experience .text-part p:first-child {
  color: #fff;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
  line-height: 32.5px;
}
.experience .text-part p:last-child {
  color: #fff;
  font-family: Poppins;
  font-size: 8px;

  font-weight: 500;
  line-height: 10.5px;
}

.experience .cards img:first-child {
  width: 30%;
}
.shadow-img {
  position: absolute;
  top: 80px;
  left: 20px;
  opacity: 0.8;
}
.shadow-img img {
  z-index: -1;
}
.dot-img img {
  width: 4px;
}

.dot-img-first {
  position: absolute;
  top: 30px;
  left: 30px;
}
.dot-img-second {
  position: absolute;
  bottom: 40px;
  left: 15px;
}
.dot-img-thired {
  position: absolute;
  bottom: 50px;
  left: 120px;
}
.dot-img-fourth {
  position: absolute;
  bottom: 10px;
  left: 100px;
}
.Gradient {
  position: absolute;
  left: 30%;
}
/* experience end  */

/* skills */
.skills {
  margin-top: 120px;
}
.skills img {
  width: 100%;
  background: #11071f;
  box-shadow: 0px 6px 22px -3px rgba(0, 0, 0, 0.1);
}
/* skills end */

/* Featured */
.Featured {
  display: flex;
  flex-direction: column;
}
.Featured .project_one {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 180px;
}
.Featured .project_one .project_photo {
  width: 60%;
  position: absolute;
  top: 50px;
  right: -180px;
  z-index: -1;
  background: #2b0b3a;
  padding: 10px;
  border-radius: 15px;
}

.Featured .project_one .project_text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Featured .project_one .project_text p:nth-child(1) {
  color: #9857d3;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.32px;
}
.Featured .project_one .project_text p:nth-child(2) {
  color: #ccd6f6;
  font-family: Poppins;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.68px;
}
.Featured .project_one .project_text .bottom_text p {
  width: 65%;
  color: #ccd6f6;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  background-color: #1a0b2e;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border-radius: 14px;
  padding: 30px;
}
/* Project two */
.Featured .project_two {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 180px;
}

.Featured .project_two .project_text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Featured .project_two .project_text p:nth-child(1) {
  color: #9857d3;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.32px;
}

.Featured .project_two .project_text p:nth-child(2) {
  color: #ccd6f6;
  font-family: Poppins;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.68px;
}

.Featured .project_two .project_text .bottom_text p {
  position: absolute;
  top: 115px;
  right: -180px;
  width: 65%;
  color: #ccd6f6;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  background-color: #1a0b2e;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border-radius: 14px;
  padding: 30px;
}

/* Project two end */

/* Featured - end */

/* Styles for screens 1024px wide */
@media (max-width: 1440px) {
  .Featured p {
    top: 90px;
    font-size: 16px;
    left: 15px;
  }
}

/* Styles for 1024px wide screens */
@media (max-width: 1024px) {
  .Featured p {
    top: 65px;
    font-size: 12px;
    left: 12px;
  }
  .Featured .project_one {
    display: flex;
    flex-direction: column;
  }
}

/* Styles for 768px wide screens */
@media (max-width: 800px) {
  .Featured .project_one {
    margin-bottom: 300px;
  }
  .Featured .project_one .project_photo {
    position: absolute;
    top: 275px;
    left: 100px;
  }
  .Featured .project_one .project_photo img {
    width: 400px;
  }
  .Featured .project_one .project_text .bottom_text p {
    width: 100%;
  }
  .Featured p {
    top: 45px;
    font-size: 9px;
    left: 8px;
  }
}

/* Styles for 425px wide screens (mobile) */
@media (max-width: 450px) {
  .Featured .project_one .project_photo {
    position: absolute;
    top: 360px;
    left: 0px;
  }
  .Featured .project_one .project_photo img {
    width: 400px;
  }
  .Featured .project_one .project_text .bottom_text p {
    width: 100%;
  }
  .Featured p {
    top: 45px;
    font-size: 9px;
    left: 8px;
  }
}
@media (max-width: 400px) {
  .Featured .project_one .project_photo {
    position: absolute;
    top: 360px;
    left: 0px;
  }
  .Featured .project_one .project_photo img {
    width: 400px;
  }
  .Featured .project_one .project_text .bottom_text p {
    width: 500px;
  }
  .Featured p {
    top: 45px;
    font-size: 9px;
    left: 8px;
  }
}
/* Featured End */

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  /* Header */
  .header .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .logo img {
    display: none;
  }

  .menu-toggle {
    display: block;
    font-size: 24px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
  }

  /* List is hidden by default on small screens */
  .header .nav .list {
    display: none;
    flex-direction: column;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  /* Active class to display menu */
  .header .nav .list.active {
    display: flex;
  }

  /* Adjust list items */
  .header .nav .list ul {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .header .nav .list ul li {
    width: 100%;
    text-align: center;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
  .About {
    margin-left: 10%;
  }
}
@media (max-width: 425px) {
  .About {
    margin-left: 5%;
  }
}
